<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learning.ayush.easyplacement">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <application
        android:name=".FirebaseContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Student_Varification_Process"  android:screenOrientation="portrait"></activity>
        <activity android:name=".Varify_students"  android:screenOrientation="portrait"/>
        <activity android:name=".Varify_Main"  android:screenOrientation="portrait"/>
        <activity android:name=".company_details"  android:screenOrientation="portrait"/>
        <activity android:name=".student_dashboard"  android:screenOrientation="portrait"/>
        <activity android:name=".tpo_addCompanies"  android:screenOrientation="portrait"/>
        <activity android:name=".tpoDashboard"  android:screenOrientation="portrait"/>
        <activity android:name=".stuRegister"  android:screenOrientation="portrait"/>
        <activity android:name=".stuMain" android:screenOrientation="portrait" />
        <activity android:name=".tpoRegister"  android:screenOrientation="portrait"/>
        <activity android:name=".tpoMain"  android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
          android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>